.nav{
    /* border:1px solid black; */
    height:70px;
    width:100%;
}
.pic{
    width:9%;
    /* margin-top:10px; */
    margin-left:5%;
    display: inline-block;
    /* vertical-align: middle; */
}
.abp{
    margin-left:51%;
    display: inline-block;
    margin-top:30px;
    /* width:40%; */
    /* padding-right: 20px; */
    /* vertical-align: middle; */
}

.abp > a{
    /* color:black; */
    font-weight:bold;
    margin-left:10%;
    font-size:16px;
    text-decoration: none;
 
}
.login{
   /* border:1px solid red; */
   padding:10px;
   background-color:red;
   color:white;
   border-radius:50px;
}

.signup{
    /* border:1px solid gray; */
    padding:10px;
    background-color:rgb(245, 243, 243);
    border-radius:50px;

 }

/* 
.ls{
    margin-left:90%;
    display: inline-block;
} */